
@{
    ViewBag.Title = "AllAnimals";
}

<h3>List all Animals in  Zoo</h3>
<ul class="pull-right">
    <li>
        <input id="searchAnimals" type="text" class="navbar-text  form-group" placeholder=" search" />

    </li>
</ul>
@Html.Action("ListAnimals")


