@{
    ViewBag.Title = "Index";
}
<h2>Zoo-Kiev</h2>

<div class="row ">
   
   <div class="col-lg-3 col-sm-3 col-md-3  col-xs-3 " id="datepicker"></div>

    @*model windows*@
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="col-lg-7 col-sm-7 col-md-7   text-center">
        <ul class="nav navbar-nav pull-right">
            <li>Список кормления животных на: </li>
            <li><strong id="date"> - сегодня</strong></li>
        </ul>
       @Html.Action("GetAnimals")
    </div>
    <div class="col-lg- col-sm-1 col-md-1">   </div>
</div>

