@{
    ViewBag.Title = "Index";
}
<h2>Zoo-Kiev</h2>

<div class="row ">
   
   <div class="col-lg-3 col-sm-3 col-md-3  col-xs-3 " id="datepicker"></div>

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div id="tableAnimals" class="col-lg-7 col-sm-7 col-md-7   text-center">
        @Html.Partial("_GetAnimals") 
    </div>
    <div class="col-lg- col-sm-1 col-md-1">   </div>
</div>

<button class="btn btn-success  pull-right ">
    @Html.ActionLink("Create New", "Create", "Animal", new { }, new { @class = "compItem", data_dialog_title = "Создание записи" })
</button>




@section scripts
{
    <script type="text/javascript">

        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Пред',
            nextText: 'След',
            currentText: 'Сегодня',
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
            'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
            'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
            dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
            dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            weekHeader: 'Не',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);

        $("#datepicker").datepicker({
            onSelect: function (dateText, inst) {
                $(this).css("background-color", "");

                $.ajax({
                    type: "POST",
                    url: "/Animal/GetAnimals",
                    data: { "date": dateText },
                    success: function (data) {
                        $("#tableAnimals").html(data);
                        $("#date").text(dateText);
                    }
                });
            }
        });


        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $(document).on("click", ".compItem", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

    </script>
}


